.fa-star {
    color: rgba(255, 188, 0);
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;
}

.product>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__info {
    height: 200px;
    margin-bottom: 15px;
}

.product__price {
    margin-top: 5px;
}

.product>button {
    margin-top: 10px;
    border-style: solid;
    border-width: 8px;
    cursor: pointer;
    padding: 0;
    background: #FFD814;
    border-color: #FCD200;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
    border-radius: 20px;
    font-weight: bold;
    color: #111;
}

.product__rating {
    display: flex;
}